.solar-page {
    text-align: center;
    background-color: var(--whiteColor);
    width: 414px; /* Set the width of the page */
    height: 896px; /* Set the height of the page */
    margin: 0; /* Remove default margin to fill the entire viewport */
    padding: 0;
    overflow: hidden;
  }

  .interactive-system {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .container {
    display: grid;
    height: auto;
    width: 100vw;
  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 2fr;
    grid-template-areas:
      "sidebar"
      "main"
      "contents";
    grid-gap: 3px;
  }
  
  .sidebar {
    background-color: var(--whiteColor);
    grid-area: sidebar;
    height:auto;
  }
  .add-friend {
    float: right;
  }
  
  .main {
    background-color: var(--whiteColor);
    grid-area: main;
  }
  
  .content {
    background-color: var(--lightPurple);
    grid-area: contents;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .solar-main-title {
    text-align: center;
    color: var(--darkPurple);
    font-size: 72px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-bottom: 0px;
    
  }

  .layout-main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-auto-rows: 10vh;
    grid-gap: 20px;
  }

  .grid-item-main {
    margin-top: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-item-button {
    background-color: var(--lightPurple);
    width: 21.5vw;
    height: 21.5vw;
  }
  .menu-item {
    background-size: contain;
    background-color: transparent;
    background-position: center center;
    background-repeat:   no-repeat;
    border: none;
  }

  .reminder {
    background-image: url(/src/SolarSystem/bell.png);
  }
  .link {
    background-image: url(/src/SolarSystem/Link.png);
  }
  .contact {
    background-image: url(/src/SolarSystem/Contacts.png);
  }
  .inbox {
    background-image: url(/src/SolarSystem/imbox.png);
  }


  @media (max-width: 500px) {
    .solar-page {
      text-align: center;
      background-color: var(--whiteColor);
      width: min-content;
      height: 100%;
    }
    .container {
      display: grid;
      height: 100%;
      width: min-content;
    
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 8fr 2fr;
      grid-template-areas:
        "sidebar"
        "main"
        "contents";
      grid-gap: 3px;
    }

    .sidebar {
      background-color: var(--whiteColor);
      grid-area: sidebar;
      height :100%;
    }
  }