.contact-container {
    display:inline-flex;
    background-color: white;
    padding: 10px;
    width: 85vw;
    border: 1px solid var(--darkPurple);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
.contact-image-container,
.contact-ext-container,
.contact-buttons-container {
    display: inline-block;
    vertical-align: middle; /* To vertically align the content */
}
.contact-image-container {
    width: 75%;
    padding-right: 10px;
}
  
.contact-image-container img {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    object-fit: cover;
    
}
  
.contact-text-container {
    width: 35%;
    justify-content: left;
    text-align: left;
}
  
.contact-buttons-container {
    width: 325%;
    text-align: right;
}

.contact-buttons-container button {
    margin-left: 5px;
    padding: 1vh 1vh 0vh 1vh;
    background-color: var(--darkPurple);
    font-family: 'Borel', sans-serif;
    font-weight: 600;
    color: var(--whiteColor);
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

