.App {
  text-align: center;
  background-color: var(--midPurple);
  width: 100vw;
  height: 100vh;
}

.stop-scroll{
  overflow: hidden;
}

@media (max-width: 500px){
  .App {
    text-align: center;
    background-color: var(--midPurple);
    width: 428px;
    height: 926px;
  }
}
